---
import "@fontsource/geist-sans";
import Nav from "../components/Nav.astro";
import WorkExp from "../components/WorkExp.astro";

const year = new Date().getFullYear();
import { gsap } from "gsap";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";
---

<html lang="en">
	<!--
		 ___       __    _______    ___        ________   ________   _____ ______    _______      
		 |\  \     |\  \ |\  ___ \  |\  \      |\   ____\ |\   __  \ |\   _ \  _   \ |\  ___ \     
		 \ \  \    \ \  \\ \   __/| \ \  \     \ \  \___| \ \  \|\  \\ \  \\\__\ \  \\ \   __/|    
		  \ \  \  __\ \  \\ \  \_|/__\ \  \     \ \  \     \ \  \\\  \\ \  \\|__| \  \\ \  \_|/__  
		   \ \  \|\__\_\  \\ \  \_|\ \\ \  \____ \ \  \____ \ \  \\\  \\ \  \    \ \  \\ \  \_|\ \ 
		    \ \____________\\ \_______\\ \_______\\ \_______\\ \_______\\ \__\    \ \__\\ \_______\
		     \|____________| \|_______| \|_______| \|_______| \|_______| \|__|     \|__| \|_______|

			🚧 Site Under Construction 🚧

		Thanks for checking out the source code! I am still putting together the idea for what I want this to be; stay tuned...
	-->

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Robert Abreu Bio" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="R_NBG_WHITE.svg"
			media="(prefers-color-scheme: dark)"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="R_NBG_BLACK.svg"
			media="(prefers-color-scheme: light)"
		/>
		<title>Abreu - Software Engineer</title>
		<style>
			.icon-container {
				display: inline-block;
				transition: transform 0.5s ease;
			}
		</style>
	</head>
	<body>
		<Nav />
		<main
			class="flex flex-col min-h-[100dvh] bg-gray-950 text-gray-50 -mt-5"
		>
			<header
				class="px-4 py-8 md:px-6 md:py-12 lg:px-8 lg:py-16 xl:px-10 xl:py-20 h-screen"
			>
				<div
					class="flex flex-col h-full my-auto mx-auto max-w-3xl space-y-2 justify-center items-center"
				>
					<h1
						class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl"
					>
						Robert Abreu
					</h1>
					<p class="text-lg text-gray-400 md:text-xl lg:text-2xl">
						Software Engineer
					</p>
				</div>
			</header>
			<div class="flex-1 px-4 md:px-6 lg:px-8 xl:px-10">
				<div
					class="mx-auto max-w-3xl space-y-12 py-12 md:space-y-16 md:py-16 lg:space-y-20 lg:py-20 xl:space-y-24 xl:py-24"
				>
					<section class="grid gap-6 md:gap-8 lg:gap-10 xl:gap-12">
						<div
							id="work-experience"
							class="flex flex-col justify-center h-screen space-y-2"
						>
							<h2
								class="text-2xl font-bold tracking-tighter md:text-3xl lg:text-4xl"
							>
								Work Experience
							</h2>
							<WorkExp />
						</div>
						<div
							id="skills"
							class="flex flex-col justify-center h-screen space-y-2"
						>
							<h2
								class="text-2xl font-bold tracking-tighter md:text-3xl lg:text-4xl"
							>
								Skills
							</h2>
							<div
								class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 lg:gap-8"
							>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									React
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									Node.js
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									JavaScript
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									TypeScript
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg whitespace-nowrap"
								>
									React Native
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									GraphQL
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									Python
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									CSS
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									Git
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg whitespace-nowrap"
								>
									SQL
								</div>
								<div
									class="rounded-lg bg-gray-900 px-4 py-2 text-center text-sm font-medium md:px-6 md:py-3 md:text-base lg:px-8 lg:py-4 lg:text-lg"
								>
									AWS
								</div>
							</div>
						</div>
						<!-- <div class="space-y-2">
							<h2
								class="text-2xl font-bold tracking-tighter md:text-3xl lg:text-4xl"
							>
								Education
							</h2>
							<div class="space-y-4">
								<div class="grid gap-2 md:gap-3 lg:gap-4">
									<div
										class="flex items-center justify-between"
									>
										<h3
											class="text-lg font-semibold md:text-xl lg:text-2xl"
										>
											Bachelor's in Computer Information
											Systems
										</h3>
										<p
											class="text-sm text-gray-400 md:text-base lg:text-lg"
										>
											2006 - 2010
										</p>
									</div>
									<p
										class="text-sm text-gray-400 md:text-base lg:text-lg"
									>
										DeVry University
									</p>
								</div>
							</div>
						</div> -->
						<div
							id="#connect"
							class="flex flex-col justify-center h-screen space-y-2"
						>
							<h2
								class="text-2xl font-bold tracking-tighter md:text-3xl lg:text-4xl"
							>
								Connect
							</h2>
							<div class="space-y-4">
								Incoming...
							</div>
						</div>
					</section>
				</div>
			</div>
			<footer
				class="px-4 py-8 md:px-6 md:py-12 lg:px-8 lg:py-16 xl:px-10 xl:py-20 border-t border-gray-800"
			>
				<div
					class="mx-auto max-w-3xl text-center text-sm text-gray-400 md:text-base lg:text-lg"
				>
					© {year} Robert Abreu. All rights reserved.
				</div>
			</footer>
		</main>
		<script is:inline>
			document.addEventListener("DOMContentLoaded", function () {
				gsap.registerPlugin(ScrollToPlugin);
				document.querySelectorAll(".nav-link").forEach((link) => {
					link.addEventListener("click", function (e) {
						e.preventDefault();
						const targetId = this.getAttribute("href");

						gsap.to(window, {
							duration: 5,
							scrollTo: { y: targetId, autoKill: true },
							ease: "elastic.in",
						});
					});
				});
			});
		</script>
	</body>
	<!-- 
			 _______  _                _______  _         _                   _______  _         _           
			(_______)(_)              (_______)(_)       | |      _          (_______)(_)       | |      _   
			 _____    _  _   _  _____  _____    _   ____ | |__  _| |_  _   _  _____    _   ____ | |__  _| |_ 
			|  ___)  | || | | || ___ ||  ___)  | | / _  ||  _ \(_   _)| | | ||  ___)  | | / _  ||  _ \(_   _)
			| |      | | \ V / | ____|| |_____ | |( (_| || | | | | |_ | |_| || |_____ | |( (_| || | | | | |_ 
			|_|      |_|  \_/  |_____)|_______)|_| \___ ||_| |_|  \__) \__  ||_______)|_| \___ ||_| |_|  \__)
			                                      (_____|             (____/             (_____|             
	 -->
</html>
