<style>
    h2 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
</style>
<div
    class="flex flex-col justify-center h-full md:h-screen mb-3 md:mb-0 space-y-4"
>
    <div>
        <h2
            class="flex flex-row text-2xl font-bold tracking-tighter md:text-3xl lg:text-4xl"
        >
            <div class="about-me-char">A</div>
            <div class="about-me-char">b</div>
            <div class="about-me-char">o</div>
            <div class="about-me-char">u</div>
            <div class="about-me-char">t</div>
            &nbsp;
            <div class="about-me-char">M</div>
            <div class="about-me-char">e</div>
        </h2>
    </div>
    <div class="flex flex-col text-justify gap-4">
        <p class="text-md text-gray-400 md:text-base lg:text-lg">
            My journey into software development started with a small
            twist—designing custom maps for Starcraft: Brood War, where I
            crafted complex conditions and actions. That early experience
            sparked my curiosity about how things work behind the scenes. Years
            later, I started learning Java during my off hours to build mobile
            apps for Android. Eventually, I found my way into a bootcamp in NYC,
            where I learned web development and fell in love with its
            versatility.
        </p>
        <p class="text-md text-gray-400 md:text-base lg:text-lg">
            My first role was at a HealthTech startup, where I contributed to
            making healthcare more accessible by helping to lower prescription
            drug costs. In my personal time I focus on honing my skills through
            personal side projects and exploring new challenges in both web and
            mobile development.
        </p>
    </div>
</div>
