---

---

<nav class="sticky top-0 z-50 p-5 bg-gray-950 text-white flex justify-between">
    <ul class="flex flex-row">
        <li><a id="main-nav" href="#main" style="opacity: 0;" class="nav-link">Robert Abreu</a></li>
    </ul>
    <ul class="flex flex-row gap-5">
        <li><a href="#work-experience" class="nav-link nav-right">Work Experience</a></li>
        <li><a href="#skills" class="nav-link nav-right">Skills</a></li>
        <li><a href="#connect" class="nav-link nav-right">Connect</a></li>
    </ul>
</nav>