---
import MenuIcon from "./icons/menu.astro";
---

<style is:global>
    #mobile-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
</style>
<nav class="sticky top-0 z-50">
    <div
        class="px-2 pt-2 pb-1 md:px-5 md:pt-5 md:pb-5 min-w-fit bg-gray-950 text-white flex justify-between"
    >
        <ul class="flex flex-row order-1">
            <li>
                <a id="main-nav" href="#main" class="flex flex-row">
                    <div
                        id="first-rob-char"
                        class="rob-char"
                        style="opacity: 0;"
                    >
                        R
                    </div>
                    <div class="rob-char" style="opacity: 0;">o</div>
                    <div class="rob-char" style="opacity: 0;">b</div>
                    <div class="rob-char" style="opacity: 0;">e</div>
                    <div class="rob-char" style="opacity: 0;">r</div>
                    <div class="rob-char" style="opacity: 0;">t</div>
                    &nbsp;
                    <div class="rob-char" style="opacity: 0;">A</div>
                    <div class="rob-char" style="opacity: 0;">b</div>
                    <div class="rob-char" style="opacity: 0;">r</div>
                    <div class="rob-char" style="opacity: 0;">e</div>
                    <div
                        id="last-rob-char"
                        class="rob-char"
                        style="opacity: 0;"
                    >
                        u
                    </div>
                </a>
            </li>
        </ul>
        <ul
            class="invisible md:visible h-0 md:h-full grid grid-cols-2 md:flex md:flex-row md:gap-5 text-end order-2 md:order-3"
        >
            <li class="pb-1 md:pb-0">
                <a
                    style="opacity: 0;"
                    aria-labelledby="Resume"
                    href="/Robert_Abreu_Software_Engineer_Resume.pdf"
                    target="_blank"
                    class="nav-link pb-1 hover:underline hover:decoration-2 hover:decoration-sky-400"
                >
                    Resume
                </a>
            </li>
            <li class="pb-1 md:pb-0">
                <a
                    style="opacity: 0;"
                    aria-labelledby="Projects"
                    href="#projects"
                    class="nav-link hover:underline hover:decoration-2 hover:decoration-sky-400"
                    >Projects</a
                >
            </li>
            <li class="pb-1 md:pb-0">
                <a
                    style="opacity: 0;"
                    aria-labelledby="About Me"
                    href="#about-me"
                    class="nav-link hover:underline hover:decoration-2 hover:decoration-sky-400"
                    >About Me</a
                >
            </li>
            <li class="pb-1 md:pb-0">
                <a
                    style="opacity: 0;"
                    aria-labelledby="Skills"
                    href="#skills"
                    class="nav-link hover:underline hover:decoration-2 hover:decoration-sky-400"
                    >Skills</a
                >
            </li>
            <li class="pb-1 md:pb-0">
                <a
                    style="opacity: 0;"
                    aria-labelledby="Connect"
                    href="#connect"
                    class="nav-link hover:underline hover:decoration-2 hover:decoration-sky-400"
                    >Connect</a
                >
            </li>
        </ul>
        <div class="visible md:invisible h-full order-3 md:order-2">
            <!-- WIP -->
            <div class="flex justify-end">
                <button
                    type="button"
                    class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-gray-950 px-3 py-2 text-sm font-semibold text-gray-50 active:text-gray-950 focus:text-gray-950 shadow-sm ring-1 ring-inset ring-gray-300 focus:bg-gray-50 active:bg-gray-50 max-w-10"
                    id="menu-button"
                    aria-expanded="true"
                    aria-haspopup="true"
                    data-menu="closed"
                >
                    <MenuIcon class="h-5 w-5 white" id="nav-mobile-menu-icon" />
                </button>
            </div>
        </div>
    </div>
    <div
        id="mobile-menu"
        class="absolute top-0 mt-12 right-[-60vw] w-screen flex justify-end visibile md:invisible"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        data-menu="closed"
        tabindex="-1"
    >
        <div
            class="flex flex-col float-right p-4 w-1/2 bg-gray-950 border-l-2 border-gray-700 border-opacity-70 bg-opacity-70 h-[100dvh] md:h-0 text-white text-right"
        >
            <a
                href="/Robert_Abreu_Software_Engineer_Resume.pdf"
                target="_blank"
                class="pb-3 hover:underline active:text-white focus:text-white"
                >Resume</a
            >
            <a
                href="#projects"
                class="pb-3 hover:underline active:text-white focus:text-white"
                >Projects</a
            >
            <a
                href="#about-me"
                role="menuitem"
                class="pb-3 hover:underline active:text-white focus:text-white"
                >About Me</a
            >
            <a
                href="#skills"
                role="menuitem"
                class="pb-3 hover:underline active:text-white focus:text-white"
                >Skills</a
            >
            <a
                href="#connect"
                role="menuitem"
                class="pb-3 hover:underline active:text-white focus:text-white"
                >Connect</a
            >
        </div>
    </div>
</nav>

<script>
    import gsap from "gsap";
    const mobileButton = document.getElementById("menu-button");
    const mobileMenu = document.getElementById("mobile-menu");
    const mobileMenuIconPath = document.getElementById("menu-icon-path");
    const stackShape = "M5 5L12 5L19 5M5 12H19M5 19L12 19L19 19";
    const closeShape = "M5 5L12 12L19 5M12 12H12M5 19L12 12L19 19";
    document.addEventListener("DOMContentLoaded", function () {
        const toggleMobileMenu = () => {
            if (!mobileMenu || !mobileButton) return;
            if (mobileMenu.dataset.menu === "closed") {
                mobileMenu.style.display = "block";
                gsap.fromTo(
                    mobileMenu,
                    { x: "100%" },
                    {
                        x: "0%",
                        duration: 0.5,
                        ease: "power3.inOut",
                        onComplete: () => {
                            mobileMenu.dataset.menu = "open";
                        },
                    },
                );
                // opentimeline
                gsap.fromTo(
                    mobileMenuIconPath,
                    {
                        attr: { d: stackShape },
                        duration: 0.5,
                        ease: "Power2.easeOut"
                    },
                    {
                        attr: { d: closeShape },
                        duration: 0.5,
                        ease: "Power2.easeIn"
                    },
                );
            } else {
                gsap.to(mobileMenu, {
                    x: "100%",
                    duration: 0.5,
                    ease: "power3.inOut",
                    onComplete: () => {
                        mobileMenu.style.display = "none";
                        mobileMenu.dataset.menu = "closed";
                    },
                });
                gsap.fromTo(
                    mobileMenuIconPath,
                    {
                        attr: { d: closeShape },
                        duration: 0.5,
                        ease: "Power2.easeOut"
                    },
                    {
                        attr: { d: stackShape },
                        duration: 0.5,
                        ease: "Power2.easeIn"
                    },
                );
            }
        };
        mobileButton?.addEventListener("mousedown", toggleMobileMenu);
    });
</script>
