---

---

<div id="work-experience-content">
    <div class="space-y-4">
        <div class="grid gap-2 md:gap-3 lg:gap-4">
            <div class="flex items-center justify-between">
                <h3 class="text-lg font-semibold md:text-xl lg:text-2xl">
                    Software Engineer
                </h3>
                <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                    2021 - Present
                </p>
            </div>
            <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                Flipt Rx
            </p>
        </div>
        <p class="text-sm text-gray-400 md:text-base lg:text-lg">
            At Flipt Rx, I maintained and improved the pricing system, authored
            essential design documentation, and optimized system performance by
            simplifying pharmacy data requests. I enhanced database interactions
            for better maintainability and security, participated in various
            software projects utilizing TypeScript, JavaScript, and Python, and
            managed a React Native mobile application. Additionally, I was
            actively involved in hiring and onboarding new employees, ensuring a
            smooth transition into the team.
        </p>
    </div>
    <div class="space-y-4 mt-3">
        <div class="grid gap-2 md:gap-3 lg:gap-4">
            <div class="flex items-center justify-between">
                <h3 class="text-lg font-semibold md:text-xl lg:text-2xl">
                    Jr. Full-Stack Developer
                </h3>
                <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                    2020 - 2021
                </p>
            </div>
            <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                Flipt Rx
            </p>
        </div>
        <p class="text-sm text-gray-400 md:text-base lg:text-lg">
            I contributed to web and mobile projects, improving database
            interactions and system performance. I participated in team meetings
            and assisted in the design and implementation of new features,
            focusing on enhancing overall code quality and maintainability.
        </p>
    </div>
</div>
