---

---

<style>
    h2 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
</style>

<div
    id="work-experience"
    class="flex flex-col justify-center h-full md:h-screen mb-3 md:mb-0 space-y-2"
>
    <h2
        class="flex flex-row text-2xl font-bold tracking-tighter md:text-3xl lg:text-4xl"
    >
        <div class="xp-left">W</div><div class="xp-left">o</div><div
            class="xp-left"
        >
            r
        </div><div class="xp-left">k</div>&nbsp;<div class="xp-left">E</div><div
            class="xp-center"
        >
            xp
        </div><div class="xp-right">e</div><div class="xp-right">r</div><div
            class="xp-right"
        >
            i
        </div><div class="xp-right">e</div><div class="xp-right">n</div><div
            class="xp-right"
        >
            c
        </div><div class="xp-right">e</div>
    </h2>
    <div id="work-experience-content">
        <div class="space-y-4">
            <div class="grid gap-2 md:gap-3 lg:gap-4">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg font-semibold md:text-xl lg:text-2xl">
                        Software Engineer
                    </h3>
                    <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                        2021 - Present
                    </p>
                </div>
                <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                    Flipt Rx
                </p>
            </div>
            <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                At Flipt Rx, I maintained and improved the pricing system,
                authored essential design documentation, and optimized system
                performance by simplifying pharmacy data requests. I enhanced
                database interactions for better maintainability and security,
                participated in various software projects utilizing TypeScript,
                JavaScript, and Python, and managed a React Native mobile
                application. Additionally, I was actively involved in hiring and
                onboarding new employees, ensuring a smooth transition into the
                team.
            </p>
        </div>
        <div class="space-y-4 mt-3">
            <div class="grid gap-2 md:gap-3 lg:gap-4">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg font-semibold md:text-xl lg:text-2xl">
                        Full-Stack Developer
                    </h3>
                    <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                        2020 - 2021
                    </p>
                </div>
                <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                    Flipt Rx
                </p>
            </div>
            <p class="text-sm text-gray-400 md:text-base lg:text-lg">
                I contributed to web and mobile projects, improving database
                interactions and system performance. I participated in team
                meetings and assisted in the design and implementation of new
                features, focusing on enhancing overall code quality and
                maintainability.
            </p>
        </div>
    </div>
</div>

<script
    src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"
    is:inline></script>
<script type="module" is:inline>
    import gsap from "https://cdn.skypack.dev/gsap";
    gsap.registerPlugin(ScrollTrigger);
    const workXpTL = gsap.timeline({
        scrollTrigger: {
            trigger: ".xp-right",
            start: "top 80%",
            end: "bottom 20%",
            toggleActions: "play none none none",
        },
    });
    workXpTL.from(".xp-right", {
        y: 50,
        stagger: 0.09,
        delay: 0.3,
        duration: 0.5,
        ease: "power3.out",
        reversed: true,
    });
    workXpTL.from(
        ".xp-left",
        {
            y: 50,
            stagger: 0.09,
            delay: 0.2,
            duration: 0.5,
            ease: "power3.out",
        },
        "<",
    );
    workXpTL.from(
        "#work-experience-content",
        {
            duration: 0.8,
            opacity: 0,
        },
        "<",
    );
</script>
